#info {
  background: #fff;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 2.7px 0 #BFBFBF40;

  @media (max-width: 992px) {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    box-shadow: 0px -2px 1.5px 0px #e9e9e940;
  }

  .name {
    font-size: 22px;
    color: #252525;
    margin: 126px 0 12px;
    padding: 0 16px;

    @media (max-width: 992px) {
      font-size: 20px;
      margin-bottom: 8px;
      margin-top: 0;
    }
  }

  .profession {
    color: #7e7e7e;
    margin-bottom: 12px;
    padding: 0 16px;

    @media (max-width: 992px) {
      font-size: 14px;
      margin: 0;
    }
  }

  .description {
    font-size: 14px;
    max-width: 900px;
    color: #333;
    padding: 0 16px;

    @media (max-width: 992px) {
      margin-top: 16px;
      color: #252525;
    }
  }

  .title {
    font-size: 18px;
    margin-bottom: 4px;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  .nameWrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
    max-width: 1320px;
    width: 100% !important;

    .links {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 12px;

      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  .link {
    box-shadow: 0 1px 1.1px 0 #b5b5b540;
    border: 1px solid #ebebeb;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-shrink: 0;

    img {
      width: 16px;
    }
  }

  .linkWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;

    a, span {
      font-size: 14px;
      color: #454545;
      flex-shrink: 0;
    }

    .span {
      color: #919191;
      flex-shrink: 0;
    }
  }

  .mobileWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;

    .profileImage1 {

      display: none;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: -70px;
      border: 1px solid white;
      box-shadow: 0 2px 4px 0 #00000040;
      margin-left: 16px;

      @media (max-width: 992px) {
        display: flex;
      }
    }
  }

  .asd {
    display: none;
    margin-top: 16px;

    @media (max-width: 992px) {
      display: flex;
    }
  }

  .socialMediaWrapper {
    align-items: center;
    flex-direction: column;
    display: none;

    @media (max-width: 992px) {
      display: flex;
    }

    .socialMedia {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;
      border: 1px solid #EBEBEB;
      border-radius: 8px;
      width: 100%;
      padding: 8px 16px;
      margin-top: 8px;
      color: #454545;
      box-shadow: 0 1px 1.4px 0 #DDDDDD40;
      background: white;

      img {
        width: 18px;
      }

      @media (max-width: 992px) {
        font-size: 14px;
      }
    }
  }

  .companySocialMediaWrapper {
    background: #414141;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 12px;

    .divider {
      width: 1px;
      height: 45px;
      background: #F4F4F4;
    }

    .companySocialMedia {
      padding: 12px 16px;
      display: flex;
      align-items: center;
      gap: 12px;
      color: white;

    }

    p {
      color: white;
      font-size: 13px;
    }
  }

  .website {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 28px 0 16px;

    .stick {
      width: 100%;
      height: 1px;
      background: #D5D3D3;
    }

    .websiteUrl {
      color: #696767;
      font-size: 14px;

      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }

  .addContact {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #414141;
    color: white;
    border: none;
    outline: none;
    margin-top: 12px;

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }
}

.skeleton {
  padding: 16px 16px 0 16px;
}
