#info {
  padding: 16px;
  background: #fff;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 2.7px 0px #BFBFBF40;

  @media (max-width: 992px) {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    box-shadow: 0px -2px 1.5px 0px #e9e9e940;
    margin-top: -28px;
  }

  .name {
    font-size: 22px;
    color: #252525;
    margin: 126px 0 12px;

    @media (max-width: 992px) {
      font-size: 20px;
      margin-bottom: 8px;
      margin-top: 0;
    }
  }

  .profession {
    color: #7e7e7e;
    margin-bottom: 12px;

    @media (max-width: 992px) {
      font-size: 14px;
      margin: 0;
    }
  }

  .description {
    font-size: 14px;
    max-width: 900px;
    color: #333;

    @media (max-width: 992px) {
      margin-top: 16px;
      color: #252525;
    }
  }

  .title {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 4px;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  .nameWrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%   !important;

    .links {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 12px;

      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  .link {
    box-shadow: 0 1px 1.1px 0 #b5b5b540;
    border: 1px solid #ebebeb;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    img {
      width: 16px;
    }
  }

  .linkWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;

    a, span {
      font-size: 14px;
      color: #454545;
    }

    .span {
      color: #919191;
    }
  }

  .mobileWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;

    .profileImage1 {

      display: none;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      object-fit: cover;

      @media (max-width: 992px) {
        display: flex;
      }
    }
  }

  .asd {
    display: none;

    @media (max-width: 992px) {
      display: flex;
    }
  }

  .socialMediaWrapper {
    align-items: center;
    flex-direction: column;
    display: none;

    @media (max-width: 992px) {
      display: flex;
    }

    .socialMedia {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;
      border: 1px solid #EBEBEB;
      border-radius: 8px;
      width: 100%;
      padding: 8px 16px;
      margin-top: 12px;
      color: #454545;
      box-shadow: 0 1px 1.4px 0 #DDDDDD40;

      img {
        width: 18px;
      }

      @media (max-width: 992px) {
        font-size: 14px;
      }
    }
  }
}
