#navbar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  nav {
    padding: 16px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    position: relative;

    .languageChanger {
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid #EBEBEB;
      background: white;
      cursor: pointer;
    }

    .dropdown {
      position: absolute;
      top: 60px;
      right: 16px;
      width: 170px;
      background: #fff;
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      box-shadow: 0 10px 25px rgba(0,0,0,.05);
      opacity: 0;
      pointer-events: none;
      transform: translateY(6px);
      transition: 0.18s ease;
      overflow: hidden;
      font-size: 14px;
      @media (max-width: 992px) {
        font-size: 12px;
      }

      .flag {
        width: 20px;
      }

      div {
        padding: 8px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;
      }

      &.show {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
      }
    }
  }
}
